



$tp-color-primary: #324a7b;
$tp-color-secondary: #2e77b8;
$tp-color-tertiary: #e8762c;

$tp-color-lightgrey: #f7f7f7;
$tp-color-mediumlightgrey: #eaeaea;
$tp-color-grey: #ccc;
$tp-color-mediumgrey: #999;
$tp-color-mediumdarkgrey: #777;
$tp-color-darkgrey: #333;

